.about {
    padding: 50px;
    background-color: var(--background);
  }

.about .about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    width: 100%;
  }

.about  img {
    width: 100%;
    object-fit: cover;
    height: auto;
    max-width: 550px;
  }

.about  .left, .about .right {
    display: flex;
    gap: 30px;
    flex-direction: column;
  }

.about  .title {
    font-size: 32px;
    font-weight: bold;
  }

.about  .blue-title {
    font-size: 18px;
    color: var(--blue);
    letter-spacing: 2px;
  }

.about  .paragraph {
    font-size: 16px;
    color: #6C6C6C;
    line-height: 25px;
  }

  @media (min-width: 768px) {
.about .about-container {
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      gap: 200px;
      padding: 100px;
    }

  .about  .title {
      font-size: 50px;
    }

  .about  .blue-title {
      letter-spacing: 15px;
    }
  }