.main-container {
  padding: 50px;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}

.managing-director {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}

.team-image img{
  object-fit: cover;
  width: 1100px;
  height: 700px;
}

.title {
  font-size: 32px;
  font-weight: 700;
}


@media (max-width: 768px) {
  .main-container {
    padding: 20px;
  }

  .title {
    font-size: 28px;
  }

}

@media (max-width: 480px) {
  .main-container {
    padding: 10px;
  }
  .title {
    font-size: 24px;
  }

}
