.administrative-group {
  background-color: var(--background);
  padding: 50px;
}

.administrative-group .container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}

.administrative-group .managing-director {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}

.administrative-group .team-image img {
  object-fit: cover;
  width: 100%;
  max-width: 1100px;
  height: auto;
}

.administrative-group .title {
  font-size: 32px;
  font-weight: 700;
}

/* Tablet view */
@media (max-width: 768px) {
  .administrative-group {
    padding: 30px;
  }
  
  .administrative-group .title {
    font-size: 28px;
  }
}

/* Mobile view */
@media (max-width: 480px) {
  .administrative-group {
    padding: 20px;
  }

  .administrative-group .title {
    font-size: 24px;
  }
  
  .administrative-group .team-image img {
    width: 100%;
    height: auto;
  }
}
