.appreciation {
  padding: 50px;
}

.appreciation .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.appreciation .content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.appreciation .image {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.appreciation .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.appreciation .paragraph {
  font-size: 18px;
  color: #3B3C4A;
  width: 100%;
  max-width: 550px;
  text-align: center;
}

.appreciation .title {
  font-size: 32px;
  font-weight: bold;
}

.appreciation .content .appreciation .btn {
  font-size: 14px;
  width: 122px;
  background: var(--blue);
  padding: 15px;
  color: white;
  text-align: center;
  cursor: pointer;
}

/* Media Queries */
@media (min-width: 768px) {
  .appreciation .container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .appreciation .content-container {
    flex-direction: row;
    align-items: flex-start;
  }

  .appreciation .paragraph {
    text-align: left;
  }

  .appreciation .content {
    align-items: flex-start;
  }
}
