@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
  --blue:#1656B6;
  --black:#111111;
  --secondary-black:#011334;
  --white:#ffffff;
  --background:#F9F9FF;
}

.main-container{
  padding: 50px;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.content-container{
  display: flex;
  gap: 50px;
}
.content{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.paragraph{
  font-size: 18px;
  color: #3B3C4A;
  width: 550px;
}
.title{
  font-size: 32px ;
  font-weight: bold;
}

.btn{
  font-size: 14px;
  width: 100px;
  background: var(--blue);
  padding:15px;
  color: white;
}