@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --blue: #1656B6;
  --black: #111111;
  --secondary-black: #011334;
  --white: #ffffff;
  --background: #F9F9FF;
}

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  background-color: var(--background);
}
.image img{
  object-fit:cover;
}
.active-nav{
  color: var(--blue) !important;
}
.navbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  padding: 10px 100px;
  transition: padding 0.3s ease, box-shadow 0.3s ease;
}

.navbar.sticky {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.navbar .logo img {
  height: 67px;
  width: 129px;
}

.navbar .menus {
  display: flex;
  align-items: center;
}

.navbar .menus a, .dropdown .dropbtn {
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 15px;
  text-decoration: none;
  color: black;
  font-size: 14px;
  display: inline-block;
}

.navbar .menus a:hover, .dropdown:hover .dropbtn {
  color: var(--blue);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  color: var(--blue);
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}

.btn .enquiry {
  background-color: var(--blue);
  color: white;
  padding: 15px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

.navbar-mobile {
  position: fixed;
  top: 0;
  left: -100%;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.logo-mobile img {
  max-width: 100%;
  height: auto;
}

.nav-links-mobile {
  list-style: none;
  padding: 0;
}

.nav-links-mobile > li {
  margin: 10px 0;
}

.nav-links-mobile a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
  display: block;
  font-size: 14px;
  padding: 10px;
  transition: background 0.3s;
  position: relative;
}

.nav-links-mobile a:hover {
  background-color: #f0f0f0;
}

.arrow-mobile {
  float: right;
}

.dropdown-mobile {
  list-style: none;
  padding: 0;
  display: none;
  margin-left: 20px;
}

.dropdown-mobile a {
  font-weight: 500;
  font-size: 14px;
}

.show-dropdown-mobile {
  display: block;
}

@media (max-width: 768px) {
  .navbar .menus {
    display: none;
  }
  .navbar {
    justify-content: space-between;
  }

  .navbar-mobile {
    height: 100%;
    width: 300px;
    background-color: #fff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    transition: left 0.3s ease;
    z-index: 1000;
  }

  .navbar-mobile.active {
    left: 0;
  }

  .menu-icon {
    display: block;
  }
  .btn {
    display: none;
  }
}
/* section about */

.about{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  height: 550px;
}
.about-container {
  display: flex;
  justify-content: center;
  gap: 50px;

}
.content-container{
  display: flex;
  flex-direction: column;
  width: 470px;
  gap: 30px;
}
.about-us{
  font-size: 32px;
  color: var(--blue);
  font-weight: bold;
}
.about-title{
  font-size: 40px;
  font-weight: bold;
}
.about-btn {
  background-color: var(--blue);
  padding: 15px 20px;
  border-radius: 15px;
  width: 85px;
}
.about-btn a{
  text-decoration: none;
  color: white;
}
.about-paragraph{
  line-height: 25px;
  font-size: 15px;
}
/* section counter  */
.counter{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blue);
}

.counter-container{
  padding: 30px;
  display: flex;
  gap: 180px;
  align-items: center;
}

.counter-container img{
  object-fit: cover;
}
.district,.install,.customer,.project{
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
.number{
  font-size: 45px;
  color: white;
  font-weight: bold;
}
.counter-title{
  font-size: 20px;
  color: white;
}

/* section choose us  */


/* section product */
.products {
height: auto;
background: white;
padding: 50px 20px;
}

.products-container {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 50px 20px;
gap: 30px;
color: black;
width: 100%;
}

.products-heading {
font-size: 8vw;
font-weight: 600;
text-align: center;
color: black;
}

.products-paragraph {
font-size: 4vw;
max-width: 90%;
font-weight: 400;
text-align: center;
}

.products-card {
margin-top: 30px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 27px;
flex-wrap: wrap;
}

.products-image img {
width: 355px;
height: 201px;
border-radius: 15px;
}

.products-image {
object-fit: cover;
}

.products-item {
border-radius: 15px;
width: 357px;
display: flex;
flex-direction: column;
background-color: #f9f9ff;
transition: 0.5s ease;
}

.products-content {
display: flex;
flex-direction: column;
gap: 10px;
padding: 10px 30px 30px 30px;
}

.products-content .products-content-heading {
font-size: 6vw;
height: 40px;
font-weight: 600;
}

.products-content .products-content-paragraph {
color: rgba(124, 125, 130, 1);
font-size: 3.5vw;
overflow: hidden;
height: 81px;
line-height: 1.5em;
}

.products-directive:hover,
.products-ownership:hover,
.products-recovery:hover {
transform: translateY(-10px);
}

.products-contentbtn {
color: #1d6fa3;
font-size: 4vw;
font-weight: 700;
cursor: pointer;
}

.products-image1,
.products-image2,
.products-image3 {
display: flex;
gap: 10px;
padding: 30px 20px 10px 30px;
align-items: center;
}

.products-image1 img,
.products-image2 img,
.products-image3 img {
width: 32px;
height: 32px;
}

.im,
.in,
.io {
padding: 15px;
border-radius: 15px;
}

.im {
background: rgba(248, 241, 255, 1);
}

.in {
background: rgba(243, 246, 255, 1);
}

.io {
background: rgba(250, 230, 224, 1);
}
.product-btn{
  width: 126px;
  border-radius: 5px;
  border: 2px solid var(--blue);
  padding: 15px 20px;
}
.product-btn a{
  text-decoration: none;
  color: var(--blue);
  font-size: 16px;
  font-weight: 600;
}

@media (min-width: 1024px) {
.products-heading {
font-size: 40px;
}
.products-paragraph {
font-size: 18px;
max-width: 640px;
}
.products-content .products-content-heading {
font-size: 20px;
}
.products-content .products-content-paragraph {
font-size: 14px;
color: #667085;
}
.products-contentbtn {
font-size: 16px;
}
}

@media (max-width: 768px) {
.products-card {
flex-direction: column;
padding-left: 0;
}
}

@media (max-width: 480px) {
.products-heading {
font-size: 36px;
}
.products-paragraph {
font-size: 18px;
}
.products-content .products-content-heading {
font-size: 18px;
}
.products-content .products-content-paragraph {
font-size: 14px;
}
.products-contentbtn {
font-size: 16px;
}
}

@media (max-width: 1024px) {
.products-heading {
font-size: 40px;
}
.products-paragraph {
font-size: 16px;
max-width: 640px;
}
.products-content .products-content-heading {
font-size: 20px;
}
.products-content .products-content-paragraph {
font-size: 14px;
}
.products-contentbtn {
font-size: 16px;
}
}

/* section testimonial */

.testimonial{
  padding: 50px;
}
.testimonial-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;

}
.testimonial-content{
  display: flex;
  gap: 30px;

}
.testimonial-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 350px;
  padding: 20px;
  border: 3px solid var(--blue);
  border-radius: 20px;
}
 .star i{
  color: var(--blue);
}
.img img{
  border-radius: 50%;
  font-size: 24px;
}
  .left ,.right{
    border: 3px solid var(--blue);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .paragraph{
    font-size: 32px;
    font-weight: 700;
  }
  .title{
    font-size: 35px;
    font-weight: 700;
  }
  .nmae{
    font-size: 24px;
    font-weight: 700;
  }
  .pargraph{
    font-size: 16px;
    text-align: center;
  }
  .star{
    display: flex;
    gap: 10px;
  }

  .testimonial-btn{
  width: 83px;
  border-radius: 5px;
  border: 2px solid var(--blue);
  padding: 15px 20px;
}
.testimonial-btn a{
  text-decoration: none;
  color: var(--blue);
  font-size: 16px;
  font-weight: 600;
}