.newss {
height: auto;
background: white;
padding: 50px 20px;
}

.newss .news-container {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 50px 20px;
gap: 30px;
color: black;
width: 100%;
}

.newss .news-heading {
font-size: 8vw;
font-weight: 600;
text-align: center;
color: black;
}

.newss .news-paragraph {
font-size: 4vw;
max-width: 90%;
font-weight: 400;
text-align: center;
}

.newss .news-card {
margin-top: 30px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 27px;
flex-wrap: wrap;
}

.newss .news-image img {
width: 355px;
height: 201px;
border-radius: 15px;
}

.newss .news-image {
object-fit: cover;
}

.newss .news-item {
border-radius: 15px;
width: 357px;
display: flex;
flex-direction: column;
background-color: #f9f9ff;
transition: 0.5s ease;
}

.newss .news-content {
display: flex;
flex-direction: column;
gap: 10px;
padding: 10px 30px 30px 30px;
}

.newss .news-content .news-content-heading {
font-size: 6vw;
height: 40px;
font-weight: 600;
}

.newss .news-content .news-content-paragraph {
color: rgba(124, 125, 130, 1);
font-size: 3.newss .5vw;
overflow: hidden;
height: 81px;
line-height: 1.5em;
}

.newss .news-directive:hover,
.newss .news-ownership:hover,
.newss .news-recovery:hover {
transform: translateY(-10px);
}

.newss .news-contentbtn {
color: #1d6fa3;
font-size: 4vw;
font-weight: 700;
cursor: pointer;
}

.newss .news-image1,
.newss .news-image2,
.newss .news-image3 {
display: flex;
gap: 10px;
padding: 30px 20px 10px 30px;
align-items: center;
}

.newss .news-image1 img,
.newss .news-image2 img,
.newss .news-image3 img {
width: 32px;
height: 32px;
}

.newss .im,
.newss .in,
.newss .io {
padding: 15px;
border-radius: 15px;
}

.newss .im {
background: rgba(248, 241, 255, 1);
}

.newss .in {
background: rgba(243, 246, 255, 1);
}

.newss .io {
background: rgba(250, 230, 224, 1);
}

@media (min-width: 1024px) {
.newss .news-heading {
font-size: 40px;
}
.newss .news-paragraph {
font-size: 18px;
max-width: 640px;
}
.newss .news-content  .news-content-heading {
font-size: 20px;
}
.newss .news-content  .news-content-paragraph {
font-size: 14px;
color: #667085;
}
.newss .news-contentbtn {
font-size: 16px;
}
}

@media (max-width: 768px) {
.newss .news-card {
flex-direction: column;
padding-left: 0;
}
}

@media (max-width: 480px) {
.newss .news-heading {
font-size: 36px;
}
.newss .news-paragraph {
font-size: 18px;
}
.newss .news-content  .news-content-heading {
font-size: 18px;
}
.newss .news-content  .news-content-paragraph {
font-size: 14px;
}
.newss .news-contentbtn {
font-size: 16px;
}
}

@media (max-width: 1024px) {
.newss .news-heading {
font-size: 40px;
}
.newss .news-paragraph {
font-size: 16px;
max-width: 640px;
}
.newss .news-content  .news-content-heading {
font-size: 20px;
}
.newss .news-content .news-content-paragraph {
font-size: 14px;
}
.newss .news-contentbtn {
font-size: 16px;
}
}