 .resource {
    background-color: var(--background);
    padding: 50px;
    height: auto;
}

.resource .resource-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.resource .resource-paragraph {
    font-size: 18px;
    color: #7C7D82;
}

.resource .resource-title {
    font-size: 32px;
    font-weight: 700;
}

.resource .card {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}
.resource .card {
  display: flex;
  gap: 20px;
  justify-content: space-around;
}

.resource .card > div {
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.resource .card > div:hover {
  transform: translateY(-10px); /* Moves the card up by 10px */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Adds a larger shadow on hover */
}


.resource .standard-model, .resource .waste-water, .resource .water-treatment, .resource .chlorination-system {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    width: 300px;
    box-shadow: 0 4px 4px #b8b2b2;
    padding: 25px;
    border-radius: 15px;
}

.resource .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.resource .card-btn {
    text-align: center;
}

.resource .img i {
    color: var(--blue);
    font-size: 30px;
}

.resource .name {
    font-size: 18px;
}

.resource .img {
    background-color: #F3F6FF;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.resource .card-title {
    font-size: 16px;
    font-weight: 700;
}

.resource .card-paragraph {
    color: #7C7D82;
    line-height: 25px;
    font-size: 16px;
}

.resource .card-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.resource .card-btn  .btn a{
    text-decoration: none;
    border: 2px solid var(--blue);
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    color: var(--blue);
    font-weight: 600;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .resource .card {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
}
