.video{
  padding: 50px;
}
.video-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.video-content{
  display: flex;
  gap: 30px;
}
.video-title{
  font-size: 32px;
  font-weight: 700;
}