.video {
  padding: 50px;
  background: var(--background);
}

.video-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 40px;
}

.video-content {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.video-play {
  flex: 1 1 300px;
}

.video-title {
  font-size: 32px;
  font-weight: 700;
}

@media (max-width: 768px) {
  .video-content {
    flex-direction: column;
    align-items: center;
  }
  
  .video-play {
    width: 100%;
    max-width: 400px; /* Adds a max width for better alignment on small screens */
  }
}
